//Main Menu
$menuBackcolor: #424B4F;
$menuForecolor: #FFF;
$menuActiveBackcolor: #F00;
$menuActiveForecolor: #FF0;

//Tabs from Main Menu
$tabBackcolor: 		rgba(243,243,243,0.10);
$tabForecolor:		#FFF; 
$tabActiveBackcolor:#EEE;
$tabActiveForecolor:#222;

//Sub Menu
$subMenuBackcolor: $tabActiveBackcolor;
$subMenuForecolor: #111;
$subMenuActiveForecolor: #000;


$debugMode: 'false';

@if $debugMode == 'true'{
	//Main Menu
	$menuBackcolor: #99C;
	$menuForecolor: #0F0;
	$menuActiveBackcolor: #F00;
	$menuActiveForecolor: #FF0;

	//Tabs from Main Menu
	$tabBackcolor: 		#543;
	$tabForecolor:		#4FF; 
	$tabActiveBackcolor:#199;
	$tabActiveForecolor:#A88;

	//Sub Menu
	$subMenuBackcolor: $tabActiveBackcolor;
	$subMenuForecolor: #0F0;
	$subMenuActiveForecolor: #0FF;
}

div{
	@if $debugMode == 'true'{
		border: 1px solid #000;
	}
}
a{
	@if $debugMode == 'true'{
		border: 1px dashed #000;
	}
}

//----------------------------------
//General
//----------------------------------

body{
	margin: 		0;
	padding: 		0;
	font-family: 	Helvetica-Light;
}

.right{
	position:		absolute;
	right:			0px;
	margin-right: 	5px !important;
}

div.navbar{
	background:	$menuBackcolor;
	position:	relative;
	height:		40px;
}

div.subnavbar{
	background:		$subMenuBackcolor;
	font:			$subMenuForecolor;
	position:		relative;
	height:			35px;
	border-bottom:	1px solid #DDD;
}

//----------------------------------
//App
//----------------------------------

div.menuApp{
	padding: 	0px;
	margin:		0px;
	bottom:		10px;
	// height: 	100%;
	overflow:	hidden;
}

.menuApp a{
	//Box
	bottom:				0px;
	padding: 			0px 5px;
	margin:				0px 0px;
	//Text
	color:				$menuForecolor;
	text-decoration: 	none;
}

div.menuApp.left{
	// min-width:		200px;
	padding-left:	10px;
	padding-right:	30px;
	position:		absolute;
	left:			0px;
}

div.menuApp.right{
	width:		100px;
	text-align:	right;
}


//----------------------------------
//Tabs
//----------------------------------

div.menuTabs{
	padding: 		0px;
	margin:			0px;
	margin-right: 	100px;
	overflow:		hidden;
	position: 		absolute;
    bottom: 		0;
    left: 			220px;
}

.menuTabs ul{
	list-style:	none;
	padding: 	0px;
	margin:		0px;
}

.menuTabs li{
	display: 	inline;	
	margin:		0px -3px;
}
.menuTabs a{
	//Box
	display:			inline-block;
	background-color:	$tabBackcolor;
	padding: 			7px 15px; //Vertical Horizontal
	margin:				0px 0px;
	min-width:			75px;
	//Font
	font-size: 			14px;
	font-weight:		lighter;
	color:				$tabForecolor;
	text-decoration: 	none;
	text-align:			center;
}

.menuTabs a.active{
	background-color:	$tabActiveBackcolor;
	color:				$tabActiveForecolor;
	font-weight:		bold;
}

//----------------------------------
//Sub Menu
//----------------------------------
div.submenu{
	padding: 		0px;
	margin:			0px;
	margin-right: 	100px;
	overflow:		hidden;
	position: 		absolute;
    bottom: 		8px;
    overflow:		visible;
}

.submenu ul{
	list-style:	none;
	padding: 	0px;
	margin:		0px;
	
}
.submenu li{
	display: 		inline;	
	padding-left:	10px;
	padding-right:	10px;
	position:	relative;
}
.submenu a{
	padding: 			0px 5px;
	margin:				0px 0px;
	//Font
	font-size: 			12px;
	font-weight:		lighter;
	color:				$subMenuForecolor;
	text-decoration: 	none;
}

.submenu li.active a{
	color:				$subMenuActiveForecolor;
	font-weight:		bold;
}

//TESTE------------------
.submenu li.active:after,.submenu li.active:before {
    bottom: 		-9px;
	left: 			50%;
	border: 		solid transparent;
	content: 		" ";
	height: 		0;
	width: 			0;
	position: 		absolute;
	pointer-events:	none;
}
.submenu li.active:after{
	border-bottom-color: 	#FFF;
	border-width: 			6px;
	margin-left: 			-6px;
}
.submenu li.active:before{
	// border-color: rgba(194, 225, 245, 0);
	border-bottom-color: 	#DDD;
	border-width: 			7px;
	margin-left: 			-7px;
}
